EXPO_PUSH_TOKEN=ExponentPushToken[put-your-phone-token-here]

THINGSPEAK_CHANNEL_ID=3420273
THINGSPEAK_READ_API_KEY=WZV2KJC22K3ZDNGM
SOURCE_FIELD=1
SOURCE_MIN_RAW=0
SOURCE_MAX_RAW=100
SOURCE_INVERT=false

SOURCE_ALERT_THRESHOLD=8
POLL_INTERVAL_MS=15000
ALERT_REMINDER_MS=1800000
